body{
    color: cornsilk;
    background: rgb(2, 2, 65);
    font-size: 40px;
}
#button{
    height: 30px;
    width: 90px;
    border: 1.5px outset rgb(104, 84, 5);
    background: rgb(155, 46, 6);
    color: cornsilk;
    cursor: pointer;
    border-radius: 3px ;
    margin-bottom: 15px;
}
form{
    border: 2px outset rgb(190, 126, 7);
    box-shadow: 2px 2px 2px 0px black;
    padding-top: 30px;
   text-align: center;
    height: 250px;
    width: 600px;
    background-color: rgb(190, 126, 7);
    margin-top: 15%;
    margin-left: 30%;
}
#input ,#temp {
    margin-top: 35px;
    font-size: 15px;
    height: 30px;
    border: 1px solid black;
    background-color: rgb(253, 231, 144);
}
#temp{
    cursor: pointer;
}